<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instructor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @instructor.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @instructor.bio %>
</p>

<h2>Courses Taught</h2>
<ol>
<% @instructor.courses.each do |course| %>
<li><%= link_to course.name, course_path(course.id) %></li>
<% end %>
</ol>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
